<ion-header no-border>

    <ion-toolbar>
      <ion-title>MEDXFast</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ul style="color: teal">
            <ion-icon align="center" name="medkit" class="button"></ion-icon>
      </ul>
      
      <font color="teal">
      <h1 align="center">
        Bienvenido a tu asistente en salud, el aplicativo que revolucionará la salud en Colombia.
      </h1>
  
      <h2 class="top-50">
        ¿Deseas comenzar un diagnostico?
      </h2>
      <ion-button expand="block" name="comenzar" routerLink="/seleccion">Comenzar</ion-button>
    </font>
  </ion-content>
